{% extends 'core/base.html' %}
{% block title %}Successfully change password  | {% endblock %}

{% block content %}
<style>
.card {
    margin: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-body {
    padding: 20px;
}

h1 {
    font-size: 29px;
    text-align: center;
    margin-top: 0;
    color: green;
}

p {
    font-size: 18px;
    text-align: center;
    color: blue;
}

</style>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h1 class="text-center">Password Updated</h1>
                    <p class="text-center">Your password was changed successfully.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}