<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}{% endblock %}Online-Chat</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <style>
            .messages {
                height: 400px;
                overflow-y: auto;
            }
        </style>
    </head>

    <body class="bg-teal-600">
        <nav class="flex items-center justify-between px-4 py-6 bg-teal-800">
            <div>
                <a href="/" class="text-xl text-white">Chat</a>
            </div>

            <div class="flex items-center space-x-4">
                {% if request.user.is_authenticated %}
                    <a href="{% url 'password-change' %}" class="text-white hover:text-gray-200">Password Change</a>
                    <a href="/rooms/" class="text-white hover:text-gray-200">Channels</a>
                {% if user.is_superuser %}
                    <a href="{% url 'users-list' %}" class="text-white hover:text-gray-200">Users</a>
                {% endif %}
                    <a href="/logout/" class="px-5 py-3 rounded-xl text-white bg-teal-600 hover:bg-teal-700">Logout</a>
                {% else %}
                    <a href="/login/" class="text-white hover:text-gray-200">Login</a>
                    <a href="/signup/" class="px-5 py-3 rounded-xl text-white bg-teal-600 hover:bg-teal-700">Signup</a>
                {% endif %}
            </div>
        </nav>
        {% block content %}
        {% endblock %}

        {% block scripts %}
        {% endblock %}
    </body>
</html>